.header-container {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  background: var(--app-color-secondary);
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  .logo {
    width: 140px;
  }
}
