<div class="modal-backdrop-wrapper">
    <div class="modal-content-container">
        <div class="modal-header">
            <h1 class="modal-title">Attack</h1>
            <fa-icon [icon]="faTimes" [size]="'lg'" [styles]="{'color': '#fff'}" (click)="dismissModal()"></fa-icon>
        </div>

        <div class="modal-content">
            <div class="attack-header-item">
                <h2 class="subtitle">{{attack.name}}</h2>
                <div class="energy-cost-wrapper" *ngFor="let c of attack.cost">
                    <img [src]="parseEnergyCostImg(c)" alt="Energy cost">
                </div>
            </div>

            <div class="divider"></div>

            <div class="attack-info-container">
                <p class="damage-info">
                    DAMAGE: {{attack.damage.length ? attack.damage : '0'}}
                </p>

                <p class="description">
                    {{attack.text}}
                </p>
            </div>
        </div>
    </div>
</div>