<div class="modal-backdrop-wrapper">
    <div class="modal-content-container">
        <div class="modal-header">
            <fa-icon [icon]="faTimes" [size]="'2x'" [styles]="{'color': '#fff'}" (click)="dismissModal()"></fa-icon>
        </div>

        <div class="modal-content">
            <div class="attack-header-item">
                <h2 class="subtitle">{{attack?.name}}</h2>
                <div class="energy-cost-wrapper">
                    <img [src]="parseEnergyCostImg(c)" alt="Energy cost" *ngFor="let c of attack.cost">
                </div>
            </div>

            <div class="divider"></div>

            <div class="attack-info-container">
                <p class="damage-info">
                    {{'damage' | translate}}: {{attack?.damage.length ? attack.damage : '0'}}
                </p>

                <p class="description" *ngIf="attack.text">
                    {{attack.text}}
                </p>
            </div>
        </div>
    </div>
</div>