.pokemon-card-container {
  --card-width: 130px;

  margin: 0 auto;
  border-radius: 12px;
  width: var(--card-width);
  border: solid 4px var(--app-color-primary);
  box-shadow: 0 12px 8px -8px rgba(var(--app-color-primary-rgb), 0.5);
  background: var(--app-color-primary-tint);
  cursor: pointer;

  .card-content {
    display: flex;

    img {
      width: var(--card-width);
    }
  }

  .card-footer {
    margin: 1rem auto 0 auto;
    padding: 1rem 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 1px var(--app-color-step-850);

    .info-item {
      &:last-child {
        margin-top: 0.5rem;
      }
      .info-label {
        font-weight: 700;
        color: var(--app-color-primary-shade);
        font-size: 0.7rem;
      }

      .info-value {
        font-weight: 500;
        color: var(--app-color-dark-tint);
        font-size: 0.7rem;
        margin-top: 0.1rem;
      }
    }
  }

  @media screen and (min-width: 375px) {
    --card-width: 160px;

    .card-footer {
      .info-item {
        .info-label {
          font-size: 0.9rem;
        }

        .info-value {
          font-size: 0.9rem;
        }
      }
    }
  }

  @media screen and (min-width: 376px) and (max-width: 425px) {
    --card-width: 180px;
  }
}
