<div class="pokemon-card-container">
    <div class="card-content">
        <img [src]="pokemon.images.small" alt="Pokemon Card Illustration">
    </div>

    <div class="card-footer">
        <div class="info-item">
            <div class="info-label">
                ID
            </div>
            <div class="info-value">
                {{pokemon.id}}
            </div>
        </div>
        <div class="info-item name">
            <div class="info-label">
                Nome
            </div>
            <div class="info-value">
                {{pokemon.name}}
            </div>
        </div>

        <div class="info-item">
            <div class="info-label">
                Tipos
            </div>
            <div class="info-value" *ngFor="let t of pokemon.types">
                {{t}}
            </div>
        </div>
    </div>
</div>