/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap");
@import "./app/theme/variables";
@import "./app/theme/animations";
@import "~swiper/swiper-bundle";

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  background: var(--app-color-primary);
  background-image: url("assets/images/pokeball.svg");
  background-repeat: no-repeat;
  background-position: right 170%;
  background-size: 50%;
  overflow-x: hidden;

  &.lock-scroll-y {
    max-height: 100vh;
    overflow-y: hidden;
  }
}

.swiper-scrollbar {
  .swiper-scrollbar-drag {
    background-color: var(--app-color-primary-tint);
  }
}
